/* 
Student Name: Taylor Scheel
Current Date: 10/2/2024
File Name: style.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h4, ul {
    margin: 0; 
    padding: 0;
    border: 0;
}

body {
    background-color: #040c0e;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules for header content */
header {
   position: -webkit-sticky;
    position: sticky;
    color: #fff;
     text-align: center;
    font-size: 2em;
}

header img {
    margin: 0 auto;
}

header h1 {
    font-style: italic;
    float: left;
    width: 20%
}

header h2 {
    font-style: italic;
    float: center;
}

header h4 {
    font-style: italic;
    float: center;
}

/* Style rules for navigation area */
nav {
    padding: 5%;
    margin-bottom: 1%;
    background-color: #a4978e;
    width: 70%;
    float: right;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 2em;
    font-family: "Merriweather", serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block; 
    color: #fff; 
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #525b56;
    font-family: "Playfair Display", serif;
    float: right;
}

main p {
    font-size: 1em;
}

.action {
    font-size: 1.75em;
    color: #843664;
    font-weight: bold;
}

.round {
    border-radius: 8px;
}

/* Show mobile content, hide tablet-desktop content */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #bfd8ec;
    text-decoration: none;
    font-weight: bold;
    
}

.map {
    border: 8px solid #f5edd4;
    width: 95%;
    height: 50%;
}

/* Styles for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color: #525b56;
    text-decoration: none;
}
